@import "tailwindcss";

html,body{
color:#EEEFF1 ;
font-family: "Montserrat", sans-serif;  
}
/* Add this in your main CSS file */
/* .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  } */
  